<div th:fragment="menu(path)" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="templates/static/img/logo.png" alt="IPT logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:class="${path == 'recipes'}? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{/recipes}">Recipes</a>
                </li>
                <li class="nav-item"
                    sec:authorize="isAuthenticated()"
                    th:class="${path == 'recipe-form'}? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{/recipe-form}">Add Recipe</a>
                </li>
                <li class="nav-item"
                    sec:authorize="hasRole('ADMIN')"
                    th:class="${path == 'user-form'}? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{/user-form}">Add User</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a sec:authorize="hasRole('ADMIN')"
                                class="dropdown-item" href="/users">Manage profiles</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>

            <div sec:authorize="isAuthenticated()" class="form-inline">
                <a class="btn-logout btn btn-outline-secondary my-2 my-sm-0" href="/logout">
                    Logout
                </a>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <a class="btn-login btn btn-outline-primary my-2 my-sm-0" href="/login">
                    Login
                </a>
            </div>
        </div>
    </nav>
</div>
